/vendor/*
/config/app.php
/tmp/*
/logs/*

/src/Template/Companies
/webroot/files/Deals/photo
/webroot/files/uploads
/webroot/files/uploads/thumbnail
/webroot/files/Merchants/photo
/webroot/fnb
/webroot/test
/webroot/files/Vouchers
/PayPal.log